[submodule "game/carbon"]
	path = game/carbon
	url = https://github.com/fielddaylab/cycle.git
	branch = master
[submodule "game/nitrogen"]
	path = game/nitrogen
	url = https://github.com/fielddaylab/cycle.git
	branch = master
[submodule "game/water"]
	path = game/water
	url = https://github.com/fielddaylab/cycle.git
	branch = master
[submodule "game/bacteria"]
	path = game/bacteria
	url = https://github.com/fielddaylab/bacteria.git
	branch = master
[submodule "game/waves"]
	path = game/waves
	url = https://github.com/fielddaylab/waves.git
	branch = master
[submodule "game/wind"]
	path = game/wind
	url = https://github.com/fielddaylab/wind.git
	branch = master
[submodule "game/magnetism"]
	path = game/magnetism
	url = https://github.com/fielddaylab/magnetism.git
	branch = master
[submodule "game/balloon"]
	path = game/balloon
	url = https://github.com/fielddaylab/balloon.git
	branch = master
[submodule "game/earthquake"]
	path = game/earthquake
	url = https://github.com/fielddaylab/earthquake.git
	branch = master
[submodule "game/model"]
	path = game/model
	url = https://github.com/fielddaylab/model.git
[submodule "game/crystal"]
	path = game/crystal
	url = https://github.com/fielddaylab/crystal.git
